* {
    margin: 0px;
}

body {
    margin: 0px;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(background.jpg);
    background-size: cover;
    background-position: center;
}

/**.header {
    background-color: gray;
    height: 70px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    box-shadow: 0 5px 15px rgba(204, 202, 202, 0.5);
    transition: opacity 0.3s ease;
  }
  
  .navigator a:hover {
      opacity: 0.7;
  }

.logo {
    height: inherit;
    width: 15%;
    background-color: rgb(49, 47, 47);
}

.navigator {
    background-color: rgba(34, 34, 34, 0.97);
    width: 85%;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.navigator a {
    font-weight: bolder;
    color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}*/



.banner {
  width: 100%;
  height: 100vh;
}

.navbar {
  width: 85%;
  margin: auto;
  padding-top: 35px;
  padding-left: 100px;
  padding-right: 70px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  position: fixed;
  top: 0;
}

.logo {
  width: 70px;
  cursor: pointer;

}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background-color: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  width: 70%;
  margin-top: 20%;
  margin-left: 17%;
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 70px;
  margin-top: 80px;
}

.content p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

span {
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}

/*
@media only screen and (max-width: 600px) {
    .header {
        height: 80px; 

    }
}


@media only screen and (min-width: 601px) {

    .table {
      margin: 50px;
    }
    
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th,
    td {
      color: white;
      text-align: center;
      border: 0.2px solid rgba(0, 0, 0, 0.964); 
    }
    
    thead {
      background-color: gray;
    }
  
  
    .container {
      margin: 50px;
      margin-top: 120px;
      display: flex;
      flex-direction: row;
      height: 500px;
      width: calc(100% - 100px); 
    }
  }
  

  @media only screen and (max-width: 600px) {

    .table {
      margin: 10px;
    }
    
    th,

    .container {
      margin: 10px;
      display: flex;
      flex-direction: column;
      height: auto;
    }
    
    .innercontainer {
      margin-bottom: 10px;
      width: 100%;
    }
  
    .innercontainer div {
      width: auto; 
    }
  }*/
  

.maincontainer {
    width: 100%;
    margin-bottom: 20px;
}


.container {
    margin: 50px;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    height: 300px;
    width: calc(100% - 100px);
    justify-content: center;
}

.per {
  width: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.per div {
 color: rgb(230, 224, 224);
 margin-bottom: -15px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.innercontainer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.barname{
    color: white;
    align-items: start;
}

.barname td {
  border: none;
  align-items: start;
}

.table {
  margin-left: 14%;
  margin-right: 14%;
  margin-top: 7%;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(34, 34, 34);
}

td.currency {
  padding: 0px;
  border: none;
}

th,
td {
    color: rgb(230, 224, 224);
    text-align: center;
    border: 0.2px solid rgb(34, 34, 34);
    border-bottom: 0.2px solid rgb(55, 55, 55);;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table td, th {
  padding: 8px;
}

thead {
    background-color: rgb(66, 64, 64);
}

td.asset_td {
  border: none;
}








