* {
    margin: 0px;
}

body {
    background-color: rgb(19, 18, 18);
    margin: 0px;
}

.header {
    background-color: gray;
    height: 70px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    box-shadow: 0 5px 15px rgba(204, 202, 202, 0.5);
    transition: opacity 0.3s ease; /* Apply transition to opacity property */
  }
  
  .navigator a:hover {
      opacity: 0.7; /* Reduce opacity on hover */
  }

.logo {
    height: inherit;
    width: 15%;
    background-color: rgb(49, 47, 47);
}

.navigator {
    background-color: rgba(34, 34, 34, 0.97);
    width: 85%;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.navigator a {
    font-weight: bolder;
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Media query for devices with a maximum width of 600px (typical for phones) */
@media only screen and (max-width: 600px) {
    .header {
        height: 80px; /* Adjust height for smaller screens */
        /* You can add additional styles for smaller screens here */
    }
}

/* Define styles for desktop/tablet screens */
@media only screen and (min-width: 601px) {
    /* Table styles */
    .table {
      margin: 50px;
    }
    
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th,
    td {
      color: white;
      text-align: center;
      border: 0.2px solid rgba(0, 0, 0, 0.964); /* Adjust border as needed */
    }
    
    thead {
      background-color: gray;
    }
  
    /* Bar graph styles */
    .container {
      margin: 50px;
      margin-top: 120px;
      display: flex;
      flex-direction: row;
      height: 500px;
      width: calc(100% - 100px); /* Subtract twice the margin size from 100% */
    }
  }
  
  /* Define styles for mobile screens */
  @media only screen and (max-width: 600px) {
    /* Table styles */
    .table {
      margin: 10px;
    }
    
    th,
  
    /* Bar graph styles */
    .container {
      margin: 10px; /* Adjust margin size for mobile */
      display: flex;
      flex-direction: column;
      height: auto; /* Adjust height for mobile */
    }
    
    .innercontainer {
      margin-bottom: 10px; /* Adjust margin between bars for mobile */
      width: 100%;
    }
  
    .innercontainer div {
      width: auto; /* Adjust width for bars for mobile */
    }
  }
  

.maincontainer {
    width: 100%;
}


.container {
    margin: 50px;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    height: 300px;
    width: calc(100% - 100px);
    justify-content: center;
}

.per {
  width: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.per div {
 color: rgb(230, 224, 224);
 margin-bottom: -15px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.innercontainer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.barname{
    color: white;
    align-items: start;
}

.barname td {
  border: none;
  align-items: start;
}

.table {
  margin-left: 14%;
  margin-right: 14%;
  margin-top: 7%;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(34, 34, 34);
}

th,
td {
    color: rgb(230, 224, 224);
    text-align: center;
    border: 0.2px solid rgb(34, 34, 34);
    border-bottom: 0.2px solid rgb(55, 55, 55);;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table td, th {
  padding: 8px;
}

thead {
    background-color: rgb(66, 64, 64);
}

.assettd {
  border: none;
}








