* {
    margin: 0px;
}

body {
    background-color: rgba(18, 18, 18, 0.89);
}

.header {
    background-color: gray;
    height: 100px;
    width: 100%;
    display: flex;
}

.logo {
    height: inherit;
    width: 15%;
    background-color: rgb(171, 170, 170);
}

.navigator {
    background-color: rgba(22, 23, 22, 0.51);
    width: 85%;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.navigator a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}


/* Media query for devices with a maximum width of 600px (typical for phones) */
@media only screen and (max-width: 600px) {
    .header {
        height: 80px; /* Adjust height for smaller screens */
        /* You can add additional styles for smaller screens here */
    }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
    margin: 15px;
}

.innercontainer div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
}

.innercontainer div p {
    font-size: 13px;
    color: white;
}

.container p {
    color: white;
    text-align: center;
}

.table {
    margin: 50px;
}

table {
    width: 100%;

}

th,
td {
    color: white;
    text-align: center;
    border: solid white;
}



